*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaryCol: #2D31A6;
}
body{
    font-family: 'Roboto', sans-serif;
}



/* banner section design starts here  */

#banner{
    max-width: 1136px;
    margin: 0 auto;
}

#banner .title{
    color: rgb(4, 24, 75);
    font-weight: 700;
    line-height: 63px;
}
#banner .details{
    color: rgb(76, 82, 113);
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    line-height: 28px;
    margin: 15px 0;
}

.primaryBtn{
    padding:0.5rem 1rem;
    background-color: var(--primaryCol);
    border-radius: 4px;
    outline: none;
    color: rgb(244, 247, 255);
    font-size: 15px;
    letter-spacing: .46px;

}

#banner .num{
    color: rgb(4, 24, 75);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: .2rem;
}
#banner .text{
    color: rgb(45, 49, 166);
    font-size: 12px;
    font-weight: 500;
}

#banner .img-con{
    position: relative;
}
#banner .support-con{
    position: absolute;
    bottom: 3rem;
    z-index: 10;
    background-color: white;
    width: 100%;
    padding: 1rem;
}