*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryCol: #2D31A6;
    --textCol: rgb(4, 24, 75);
    --secText: rgb(76, 82, 113);
}

body {
    font-family: 'Roboto', sans-serif;
}


/* navbar section starts here  */


/* navbar section ends here  */



/* banner section design starts here  */

#banner,
#services,
#location,
#comment {
    max-width: 1136px;
    margin: 0 auto;
}

#banner .title {
    color: var(--textCols);
    font-weight: 700;
    line-height: 63px;
}

#banner .details {
    color: var(--secText);
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    line-height: 28px;
    margin: 15px 0;
}

.primaryBtn {
    padding: 0.5rem 1rem;
    background-color: var(--primaryCol);
    border-radius: 4px;
    outline: none;
    color: rgb(244, 247, 255);
    font-size: 15px;
    letter-spacing: .46px;

}

#banner .num {
    color: var(--textCols);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: .2rem;
}

#banner .text {
    color: rgb(45, 49, 166);
    font-size: 12px;
    font-weight: 500;
}

#banner .img-con {
    position: relative;
}

#banner .support-con {
    position: absolute;
    bottom: 3rem;
    z-index: 10;
    background-color: white;
    width: 100%;
    padding: 1rem;
}


/* services secton starts here  */
.service-container {
    background-color: #f4f7ff;
    margin-top: 1.5rem;
    padding: 6rem 0;
}

#services .title {
    color: var(--textCols);
    font-weight: 700;
    line-height: 56px;
    font-size: 42px;
}

#services .name-service {
    color: var(--textCol);
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
}

#services .service-details {
    margin-top: 1.5rem;
    line-height: 24px;
    font-size: 16px;
    color: var(--secText);
    font-weight: 400;
}


/* locatio section starts here  */
#location .loc-title {
    color: var(--textCol);
    font-size: 43px;
    line-height: 56px;
    font-weight: 700;
    text-align: center;
    margin: 1rem 0;
}

#location .loc-sub-title {
    color: var(--secText);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}

.select-wrapper {
    position: relative;
    width: 350px;
    margin-right: 1rem;
}

.custom-label {
    position: absolute;
    top: -0.7rem;
    left: .5rem;
    color: var(--primaryCol);
    margin: 0;
    background-color: white;
    padding: 0 5px;
}

.custom-select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primaryCol);
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    outline: none;
}

/* comment section design  */

#comment{
    padding:2rem;
    background-image: url("/assets/testimonial.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 4rem;
    height: 400px;
    border-radius: 8px;
    width: 1000px;
}
.comment-container{
    position: relative;
}
.comment-container .comment-title{
    position: absolute;
    top: 6rem;
    left: 1rem;
    color: white;
    font-size: 42px;
    font-weight: 700;
        line-height: 56px;
    }
.swiper{
    width: 608px;
    height: 310px;
    position: absolute;
    top: 2rem;
    right: -7rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.card{
    border-radius: 10px;
    background-color: white;
    padding: 4rem 3rem;
}
.card-text p{
    color: var(--secText);
    font-size: 16px;
    line-height: 24px;
}
hr{
    margin: 2rem 0;
}
.img-content{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.img-content-details{
    display: flex;
    align-items: center;
}
.img-content-details h1{
    margin-left: 8px;
    font-size: 16px;
    color: var(--textCol);
    font-weight: 600;
}
.img-content i{
    color: #faaf00;
    font-size: 18px;
}